/*Style for all html files*/

body{
    background-image: url("../Assets/Images/gplaypattern_@2X.png");
    font-family: 'Karla', sans-serif;
}

.container-fluid{
    padding-left: 10%;
}

h2{
    color:darkkhaki;
}

p{
    color: darkslateblue;
}

.col-sm-5{
    background-color: honeydew;
}

#aboutMepic{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    float: left;
    margin-right: 15px;
}

footer{
    text-align: center;
    background-color: gray;
    color: honeydew;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

